@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  #modal dialog{
   margin: 0 auto;
   top: 50%;
   transform: translateY(-50%);
  }
}

section{
  padding: 50px 0;
  > *{
    margin: 0 auto;
  }
}

header{
  top: 0;
  z-index: 10;
}
h1{
  text-transform: uppercase;
}

a{
  font-size: 20px;
  font-weight: bold;
  &.active{
    text-decoration: underline;
  }
}

.modal{
  z-index: 2;
  box-shadow: 0 0 50px #991b1b;
}

.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
}
main{
  background-image: url('https://images.unsplash.com/photo-1690743212282-e1e4f6fd02f8?q=80&w=4214&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
}
#games {
  padding: 20px;
  margin: 0 auto;
  ul{
    .list-item{
      overflow: hidden;
      transition: all 0.5s ease;
      &:hover{
        transform: scale(1.2);
        box-shadow: 0 0 50px #991b1b;
        z-index: 2;
      }
    }
  }
}

#game-details{
  img{
    margin: 0 auto;
  }
}
.tag-img{
  height: 24px;
  width: 24px;
  object-fit: cover;
  &.ps{
    filter: invert(100%);
  }
}

footer {
  text-transform: uppercase;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

#carousel{
  margin: 0 auto;
  .embla {
    overflow: hidden;
  }
  // .embla__container {
  //   display: flex;
  //   justify-content: space-between;
  // }
  // .embla__slide {
  //   flex: 0 0 20%;
  //   text-align: center;
  //   min-width: 0;
  // }
  .embla__container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(20% - 20px);
    gap: 20px;
    margin: 0 -20px;
    padding: 0 20px;
  }
  
}





